.containerOwnApp {
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
    padding-top: 15px;
 }
  
 .login-page {
   margin: 0 auto 100px;
   max-width: 360px;
   position: relative;
 }
  
 .login-form {
    box-shadow: 0 0 27px 0 rgba(84, 84, 84, 0.62);
 }
  
 .login-form-header {
    padding-top: 16px;
 }
  
 .login-from-row {
    padding-top: 16px;
    padding-bottom: 16px;
 }
  
 .login-form-font-header {
    font-size:30px; 
    font-weight: bold;
 }
  
 .login-form-font-header span {
    color: #007C9B;
 }
 .margenes{
     margin:25px;
 }

 .titulosPagina{
   width: 100%;
   text-align:center;
   padding: 15px;
 }

 #cuerpo{   
   padding-top: 80px;
   padding-bottom: 80px;
 }
#barra{
   background-color: #ddf4ff;
}
ul>li{
   font-size: 18px;
}
ul>li:hover{
   border-top: 3px solid black;
   background-color:aliceblue;
}
 footer{
    height: 50px;
    
 }
 .labelFechas{
    width: 20%;
 }